/* common shared style */

body{
    font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color:#FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border:0;
    font-size:20px;
    font-weight:700;
    color:white;
    padding:18px 36px;
}

/* nav related style */

nav{

    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0 200px;
}
.nav-title{
    font-size:45px;
    color:#181818;
    font-weight:800;
}
nav ul{
    display:flex;
    align-items:center;
    
}
nav li{
    list-style:none;
    margin-right:50px;
    
}
nav a {
    text-decoration:none;
    color:#474747;
} 

/* Header related style */

.header{
    background-color:#fff8f3;
}
.banner{
    display:flex;
    padding:30px 30px 30px 230px;
    align-items:center;

}
.banner .profile-picture{
    height:500px;
}